@font-face {
	font-family: GilamDemoBlack;
	src: url('/dist/fonts/Fontfabric - Gilam Black DEMO.otf');
}
@font-face {
	font-family: GilamDemoThin;
	src: url('/src/fonts/Fontfabric - Gilam Thin Italic DEMO.otf');
}
// @font-face {
// 	font-family: Circe;
// 	src: url('/fonts/dafonttop.com.url');
// }
