* {
	margin: 0;
	padding: 0;
	border: 0;
}
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #f2f2f2;
	font-size: 20px;
	font-family: 'Gilam', sans-serif;
	font-weight: 700;
	color: #ffffff;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
._container {
	max-width: 1460px;
	margin: 0 auto;
}
.title__text {
	font-family: 'Gilam', sans-serif;
	font-size: 50px;
	line-height: 28px;
	text-align: left;
}
.wrapper {
	position: relative;
	width: 1920px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-position: center;
	background-color: #171717;
}
