$gold-color: #e4b564;

.header__container {
	display: flex;
}
.header__logotip {
	width: 357px;
	height: 79px;
	margin-top: 37px;
	left: 230px;
	margin-bottom: 89px;
}
.callback {
	display: flex;
	width: 218px;
	height: 50px;
	margin-top: 37px;
	border: 1px solid $gold-color;
	margin-left: 885px;
}
.callback__name {
	color: $gold-color;
	width: 144px;
	height: 30px;
	margin-top: 10px;
	font-family: Ballet;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.callback__icon {
	width: 16px;
	height: 16px;
	margin-top: 17px;
	margin-left: 25px;
	margin-right: 8px;
	padding: 1px, 2px, 2px, 1px;
}
